[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
python-language-server = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-grappelli = "*"

[requires]
python_version = "3.8"
